*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(12, 12, 12);
    color: white;
    font-family: 'Martel Sans', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.hero{
    width: 100%;
    position: relative;
    height: 50vw; 
    background-image: url("../img/hero.jpg");
    background-position: center;
    background-size: cover;
}

.blur-container{
    transition: filter 0.1s linear;
} 

.blurred{
    filter: blur(40px);
    height: 100vh;
    overflow: hidden;
}

.hero__btn-container{
    position: absolute;
    right: 0;
    padding: 0.4rem 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.hero__btn-container.bottom{
    bottom: 0;
}

.hero__btn-container.bottom span{
    text-shadow: 10px 10px 10px 10px black;
    background: radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
    border-radius: 50%;
}

.hero__btn-container.top{
    top: 0;
}

.hero .btn{
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 50%;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .btn span{
    font-size: 1.2rem;
}


.info{
    margin-top: 15px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.info h2{
    font-size: 1rem;
    font-weight: 800;
    width: 100%;
    line-height: 0.5rem;
}

.info span{
    font-size: 0.8rem;
}

.t{
    border-radius: 3px;
    width: 12px;
    height: 15px;
    font-size: 0.55rem;
    background-color: rgb(80, 80, 80);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: baseline;
}

.hd{
    border-radius: 3px;
    opacity: 0.9;
    width: 22px;
    height: 19px;
    font-size: 0.6rem;
    border: 2px solid rgb(71, 71, 71);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.8rem;
}

.btn-group .btn{
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgb(48, 48, 48);
    text-align: center;
    padding: 5px 0;
    line-height: 1.1rem;
}

.btn-group .btn--white{
    background-color: white;
    color: black;
}

.btn-group .btn span{
    font-size: 1.3rem; 
    vertical-align: middle;
}

.episode-info{
    padding: 10px 12px;
}

.episode-info h3{
    font-size: 0.9rem;
}

.episode-info p{
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 300;
}

.episode-info .cast{
    padding-top: 10px;
    font-size: 0.7rem;
    line-height: 1rem;
    opacity: 0.6;
}

.episode-info .btns{
    padding: 10px 10px;
    display: flex;
    gap: 50px;
}

.episode-info .btns .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.episode-info .btns .btn span{
    font-size: 2rem;
}

.episode-info .btns .btn .btn-label{
    font-size: 0.7rem;
    opacity: 0.6;
}

.season-selector-toggle{
    cursor: pointer;
    display: flex;
    padding: 0px 10px;
    opacity: 0.9;
    font-size: 0.9rem;
}

.season-selector{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.season-selector-show{
    display: flex;
    gap: 30px; 
    justify-content: center;
    align-items: center;
}

.season-selector .season{
    top: 40px;
    position: relative;
    opacity: 0.1; 
    font-size: 1rem;
    cursor: pointer;
    animation: fadeIn 1 forwards 0.3s ease-in-out;
}

.season-selector .season.season--active{
    font-weight: 700; 
    font-size: 1.3rem; 
    transition: font-weight 0.5s ease-in-out, font-size 0.1s ease-in;
} 

.close-btn{
    background-color: white;
    color: black;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 40px;
    cursor: pointer;
}

.episodes-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 15px;
}

.episodes-container .episode{
    display: flex;
    flex-direction: column;
}

.episodes-container .episode-thumb{
    border-radius: 5px;
    width: 140px;
    height: 100px;
}

.episodes-container .episode-thumb img{
    border-radius: 5px;
    width: 140px;
    height: 100px;
    object-fit: cover;
}

.episodes-container .episode-info{
    line-height: 1.2rem;
    font-size: 0.9rem;
}


.episodes-container .episode-info span{
    font-size: 0.7rem;
    opacity: 0.8;
}

.episodes-container .episode-desc{
    font-size: 0.8rem;
    line-height: 1.3rem;
    opacity: 0.8;
    padding: 10px 0 ;
}

.episodes-container .episode-top{
    display: flex;
}


@keyframes fadeIn {
    0%{
        top: 40px; 
        opacity: 0.1;
    }
    100%{
        top: 0;
        opacity: 1;
    }  
}