<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside Luigi's Brain - Netflix</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="app">
        <header>
            <section class="hero">
                <div class="hero__btn-container top">
                    <div role="button" class="btn">
                        <span class="material-icons">cast</span>
                    </div>
                    <div role="button" class="btn">
                        <span class="material-icons">clear</span>
                    </div>
                </div>
                <div class="hero__btn-container bottom">
                    <span class="material-icons">
                        volume_mute
                    </span>
                </div>
            </section>
            <section class="info">
                <h2>Inside Luigi's Brain</h2>
                <span class="info__year">1999</span>
                <div class="t">T</div><span class="info__length">92 seasons</span>
                <div class="hd">HD</div>
            </section>
            <section class="btn-group">
                <div class="btn btn--white" role="button">
                    <span class="material-icons">play_arrow</span>Available from June
                </div>
                <div class="btn" role="button"><span class="material-icons">download</span>Download CV</div>
            </section>
            <section class="episode-info">
                <p>Get inside the mind of Luigi Bardella Gerbi as he talks about who influenced him and the ambitious
                    goals he sets for himself.</p>
                <div class="cast">
                    <div>Cast: Luigi Bardella Gerbi</div>
                    <div>Created by: A growth oriented, hard-working and extremely curious person.</div>
                </div>
                <div class="btns">
                    <div role="btn" class="btn"><span class="material-icons">add</span><span class="btn-label">La
                            mia lista</span></div>
                    <div role="btn" class="btn"><span class="material-icons">ios_share</span><span
                            class="btn-label">Valuta</span></div>
                    <div role="btn" class="btn"><span class="material-icons">send</span><span
                            class="btn-label">Email</span></div>
                </div>
            </section>
        </header>
        <main>
            <section class="episodes">
                <div @click="toggleSeasonSelector" class="season-selector-toggle">Season {{appStatus.currentSeason
                    + 1}}: {{ seasons[appStatus.currentSeason].title }}
                    <span class="material-icons">expand_more</span>
                </div>
                <div class="episodes-container">
                    <div class="episode" v-for="(episode, index) in seasons[appStatus.currentSeason].episodes">
                        <div class="episode-top">
                            <div class="episode-thumb">
                                <img :src="episode.thumb">
                            </div>
                            <div class="episode-info">
                                <h4>{{index+1}}. {{ episode.title }}</h4>
                                <span>{{ episode.when }}</span>
                            </div>
                        </div>
                        <div class="episode-desc">
                            {{ episode.description }}
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="season-selector" :class="appStatus.seasonSelectorShow ? 'season-selector-show' : ''">
            <div v-for="(season, index) in seasons" @click="changeCurrentSeason(index)"
                :class="index == appStatus.currentSeason ? 'season--active':''" class="season">{{season.title}}</div>
            <div @click="toggleSeasonSelector" class="close-btn">
                <span class="material-icons">clear</span>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>