body{
  font-family: 'Roboto', sans-serif;
}

.calc{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  background: black;
  width: 270px;
}

#res{
  width: 100%;
  height: 70px;
  color: white;
  text-align: right;
  font-size: 50pt;
  overflow-y: scroll;
  font-weight: 300;
}

.btn{
  height: 60px;
  width: 60px;
  border: 0px;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.btn.oper{
  background-color: #c4c4c4;
}

.btn.num{
  background-color: #404040;
  color: white;
}

.btn.num.btn--zero{
  width: 130px;
  border-radius: 30px;
}

.btn.oper.sign{
  background-color: #ff911c;
  color: white;
}

@keyframes flash {
  0%{
    filter: brightness(1);
  }
  50%{
    filter: brightness(3);
  }
  100%{
    filter: brightness(1);
  }
}