*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .field{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cell{
    width: 100px;
    height: 100px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  
  .cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3){
    border-top: 0;
  }
  
  
  .cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9){
    border-bottom: 0;
  }
  
  
  .cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7){
    border-left: 0;
  }
  
  
  .cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9){
    border-right: 0;
  }
  
  .preview-effect:hover::before{
    content: attr(data-sign);
    opacity: 0.2;
  }
  
  .overlay{
    display: none;
    inset: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
  }
  
  .msg{
    color: white;
    font-size: 100px;
  }
  
  .reset-button{
    padding: 10px;
    background: white;
    outline: 0;
    border: 0;
    font-size: 50px;
    width: 100%;
  }
  
  