<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorting Algorithm Visualizer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div id="root">
        <header>
            <div>
                <span>Algorithm:</span>
                <select v-model="sortingAlgorithm">
                    <option value="0">bubbleSort()</option>
                    <option value="1">To be implemented</option>
                </select>
            </div>
            <div>
                <span>N. of Elements:</span>
                <input type="number" v-model="n" @change="getArray" max="100" min="5">
            </div>
            <div>
                <span>Delay (ms):</span>
                <input type="number" v-model="delay" max="2000" min="5">
            </div>
            <button v-on:click="startSort">Start</button>
            <button @click="stopSort">Stop</button>
            <div>Iterations: {{ iterations }}</idv>
        </header>
        <main>
        <div v-for="(element,index) in array" :class="index == j && i != array.length ? 'selected' : (index > array.length - 1 - i) && (isRunning) ? 'sorted' : ''" class="element" :style="'width: calc(100% / '+ n +'); height: calc((90% / '+ max +')*'+element+');'">
            <span v-show="n < 60">{{ element }}</span>
        </div>
        </main>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="script.js"></script>
</body>
</html>